:root {
    --color-primario: #5799c0;
    --color-secundario: #96e645;
    --color-terciario: #ffaa8f;
    --color-secundario-claro: #bff589;
}

/* HEADER */
header {
    border-bottom: 2px solid var(--color-secundario);
}

.navbar {
    background-color: var(--color-primario);
}

.navbar-toggler {
    margin-left: auto;
}

.logo {
    width: 5rem;
}

.btnSesion{
    padding: 0.5rem 2rem;
    background-color: var(--color-secundario);
    color: white;
    transition: 0.7s;
}

.bi-person-circle {
    color: white;
    transition: 0.7s;
}

.btnSesion:hover {
    background-color: white;
    color: var(--color-primario);
}

.btnSesion:hover .bi-person-circle {
    color: var(--color-primario);
}

.nav-link:hover {
    text-decoration: underline;
}

/* Pagina Inicio */

/* Carrusel */

#carouselImagen {
    width: 100%;
    height: 90vh;
}

/* Servicios */

#cardServicios {
    border: 2px solid var(--color-primario);
    transition: 0.7s;
}

#cardServicios:hover {
    transform: scale(1.1);
}

#imagenServicios {
    width: 15rem;
}

/* Mas Informacion (Inicio) */

/* .masInformacion {
    border: 2px solid red;
    margin-top: 2rem;
} */

.masInformacion_video {
    height: 80vh;
}

/* Media Queries */

@media screen and (max-width:540px) {

    #imagenServicios {
        width: 8rem;
    }
}

@media screen and (max-width: 768px) {
    #carouselImagen {
        height: auto;
    }
}

